@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Inter&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-color: #f3f3f3;
}

.container {
    position: relative;
    width: 1440px;
    height: 2688px;
    background: #F3F3F3;
    align-items: center;
    justify-content: center;
}

nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    width: 1120px;
    height: 35px;
    left: calc(50% - 1120px/2);
    top: 102px;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 20px 20px;
}

nav ul li a {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    letter-spacing: -0.03em;
    color: #181717;
    text-decoration: none;
}

.container-2 {
    position: absolute;
    width: 1120px;
    height: 2040px;
    left: 260px;
    top: 360px;
}

.headlines {
    position: absolute;
    width: 1056px;
    height: 283.22px;
    display: flex;
    justify-content: space-between;
}

.text-1 {
    position: absolute;
    width: 360px;
    height: 129px;
}

.text-1 h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 97.2%;
    letter-spacing: -0.03em;
    color: #181717;
}

.text-2 {
    position: absolute;
    height: 111px;
    width: 500px;
    left: 450px;
    top: 60px;
}

.text-2 h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 117%;
    /* or 37px */
    letter-spacing: -0.03em;
    color: #606060;
}

.arrow {
    position: absolute;
    width: 33.61px;
    height: 38.04px;
    left: calc(50% - 33.61px/2 - 543.16px);
    top: 200px;
}

.project-section-1 {
    position: absolute;
    width: 1120px;
    height: 473px;
    top: 340px;
}

.column-1 {
    position: absolute;
    width: 40%;
    float: left;
}

.title-1 {
    position: absolute;
    left: 0%;
    right: 70.87%;
    top: 0%;
    height: 19px;
    width: 326.2135925292969px;
}

.title-1 h5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121.5%;
    letter-spacing: -0.03em;
    color: #181717;
}

.title-content-1 {
    position: absolute;
    height: 169px;
    width: 356px;
    left: 0px;
    top: 44px;
}

.title-content-1 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 121.5%;
    letter-spacing: -0.03em;
    color: #181717;

}

.title-content-2 {
    position: absolute;
    height: 169px;
    width: 356px;
    left: 0px;
    top: 140px;
}

.title-content-2 h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 121.5%;
    letter-spacing: -0.03em;
    color: #606060;
}

.link-1 {
    position: absolute;
    height: 20px;
    width: 326.2135925292969px;
    left: 0px;
    top: 347px;

}

.link-1 a {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 121.5%;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: #181717;
}

.colmun-2 {
    width: 60%;
    float: right;
}

.colmun-2 img {
    position: absolute;
    width: 600px;
    height: 380px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sepreater {
    position: absolute;
    height: 0px;
    width: 1030px;
    top: 450px;

}

hr {
    position: absolute;
    left: 0.71%;
    right: -0.26%;
    top: 100%;
    bottom: 0%;

    border: 1.5px solid #181717;
}

.project-section-2 {
    position: absolute;
    width: 1120px;
    height: 473px;
    top: 880px;
}

.project-section-3 {
    position: absolute;
    width: 1120px;
    height: 473px;
    top: 1420px;
}

footer {
    position: absolute;
    bottom: -0%;
    width: 100%;
}

.footer-bar h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    letter-spacing: -0.03em;

    /* Secondary */

    color: #2429AF;
}

.footer-bar a {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 120%;
    /* or 25px */

    letter-spacing: -0.03em;

    /* Main Black */

    color: #181717;

}

/* about*/
.container-about {
    position: relative;
    width: 1440px;
    height: 1770px;
    background: #F3F3F3;
}

.container-7 {
    position: absolute;
    min-height: 700px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1120px;
    height: 1220px;
    left: 175px;
    top: 360px;
}

.title-text h1 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 97.2%;
    letter-spacing: -0.03em;
    color: #181717;
}

.about-text {
    margin-top: 70px;
}

.about-text h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: #606060;
}


.about-skills {
    margin-top: 90px;
}

.about-skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
}

.about-skills .box .percentage {
    position: relative;
    width: 300px;
    height: 10px;
    background: #e3e3e3;
}

.about-skills .box .percentage div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: aqua;
}

.about-img {
    padding-left: 70px;
}

.about-img img {
    height: 590px;
    width: 421px;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.about-skills h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 121.5%;
    letter-spacing: -0.03em;
    text-decoration-line: underline;
    color: #606060;
    padding-bottom: 15px;
}

.about-skills h4 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #1f1f1f;
}

.about-sepreater {
    position: absolute;
    height: 0px;
    width: 1090px;
    top: 950px;
}

.about-sepreater hr {
    position: absolute;
    left: 0.71%;
    right: -0.26%;
    top: 100%;
    bottom: 0%;
    border: 1.5px solid #181717;
}

.rect-1 {
    position: absolute;
    height: 71px;
    width: 347px;
    top: 1030px;
    left: 50px
}

.rect-1 h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: #181717;

}

.rect-2 {
    position: absolute;
    height: 37px;
    width: 372px;
    top: 1035px;
    right: 30px
}

.rect-2 h2 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 117%;
    letter-spacing: -0.03em;
    color: #181717;
}

.rect-2 h3 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 121.5%;
    letter-spacing: -0.03em;
    color: #181717;
}
